/* You can add global styles to this file, and also import other style files */
html,
body {
  background-color: #efefef;
  padding: 0px;
  margin:0;
  font-family: 'Varela Round';
}
.r-container{
    background: #f9f9f9;
    padding: 30px;
    border-radius: 5px;
}