<div class="container">
    <h2 class="text-center">Dashboard</h2>
    <div class="row">
        <side-navbar></side-navbar>
        <div class="col-md-9" >
            <div class="r-container">
                <div *ngIf="hero">
                    <h2>{{hero.name}} details!</h2>
                    <div>
                        <label>id: </label>{{hero.id}}</div>
                    <div>
                        <label>name: </label>
                        <input [(ngModel)]="hero.name" placeholder="name" />
                    </div>
                    <international-phone-number [(ngModel)]="phoneNumber" placeholder="Enter phone number" [maxlength]="20"  [required]="true"  name="phone_number"></international-phone-number>
                    <!-- <int-phone-prefix placeholder="asdfgg" [(ngModel)]="phoneNumber"></int-phone-prefix> -->
                    <button (click)="goBack()">Back</button>
                </div>
            </div>
        </div>
    </div>
</div>
